<div class="container logout-images" align="center">
    <img class="block-center rounded" width="270" src="~/LogoAlgeibaGO.png" alt="Image" />
</div>

<br /><br />

<h2 style="width:100%; text-align:center">Usted  no tiene permiso para iniciar sesión.</h2>

<center>
    <div style="position: fixed; bottom: 0; right:0 ">
        <img class="block-center rounded" al width="100" src="~/LogoAlgeibaGO.png" alt="Image" />
    </div>
</center>